@CHARSET "ISO-8859-1";

#mpasswordbox{
    border: 0px !important;;
    width: 100% !important;;
    font-size: 1.5em !important;;
}
 
#mpasswordbox:focus {
    box-shadow: 1px 1px 0px #888888 !important;;
}